# Dependency folders
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (EXTREMELY IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules

# Vercel output
.vercel
.output/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db